$accentColour: #6c56f9;
$accentColourDarkened: #523fcc;

button {
  background-color: $accentColour;
  color: #fff;
  min-height: 56px;
  min-width: 100px;
  border: none;
  border-radius: 30px;
  font-family: Mostar Sofia Pro, serif;
  font-size: 1em;
  margin-inline-start: 8px;

  &:hover {
    background-color: $accentColourDarkened;
    cursor: pointer;
  }

  &:disabled {
    background-color: #e1dfe4;
    color: #a3a2a7;
  }
}

.error-message {
  color: red;
}

@media screen and (max-width: 600px) {
  form {
    margin-bottom: 16px;
  }

  button {
    width: 100%;
    margin-inline-start: 0;
  }

  mat-form-field {
    display: block;
  }
}
