<ng-container *ngIf="paginationAndFilter$ | async" />
<ng-container *ngIf="statusChanged$ | async" />

<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="null"></mat-option>
      <mat-option value="CREATED">Created</mat-option>
      <mat-option value="FAILED">Failed</mat-option>
      <mat-option value="SETTLED">Settled</mat-option>
      <mat-option value="CAPTURED">Captured</mat-option>
      <mat-option value="COMPLETED">Completed</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    @if (form.controls.start.hasError('matStartDateInvalid')) {
    <mat-error>Invalid start date</mat-error>
    } @if (form.controls.end.hasError('matEndDateInvalid')) {
    <mat-error>Invalid end date</mat-error>
    }
  </mat-form-field>
</form>

<vyne-table [data]="tableData()" [loading]="loading()" />
<mat-paginator
  [pageIndex]="pageIndex()"
  [pageSize]="5"
  [length]="totalResults()"
  showFirstLastButtons
  (page)="pageChanged($event)"
/>
