/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Mostar Sofia Pro";
  src: url("/assets/Mostardesign-SofiaProRegular.dfa6ea9f.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Mostar Sofia Pro, serif;
}
